<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    template="WEB-INF/templates/template.xhtml">s
    
    <ui:define name="content">
        <h1>Dashboard</h1>

        <div>
            <p>Select a value among the filters to activate them: </p>
            <h:form id="filters" class="form-inline text-center">
                <label>Agency<br/>
                    <select name="agencies" class="text-center" multiple="multiple" id="agency-list"></select>
                </label>
                <label>Gender<br/>
                    <select name="genders" class="text-center" multiple="multiple" id="gender-list"></select>
                </label>
                <label>Marital status<br/>
                    <select name="marital-statuses" class="text-center" multiple="multiple" id="marital-status-list"></select>
                </label>
                <label>Income level<br/>
                    <select name="income-levels" class="text-center" multiple="multiple" id="income-level-list"></select>
                </label>
                <button id="apply-filter" class="btn btn-large btn-primary" type="button">APPLY<br />FILTER</button>
            </h:form>
        </div>

        <div id="sales">
            <h1 class="text-center">
                <span class="text-success" id="total-sales"></span> sales
                generating an amount of: <span class="text-success" id="amount"></span>
            </h1>
        </div>

        <div id="details">

            <div id="products">
                <h1>Product statistics</h1>

                <h2>Best selling products</h2>
                <div class="graph" id="best-graph"></div>

                <table class="table table-hover table-bordered" id="best-table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity sold</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <h2>Worst selling product</h2>
                <table class="table table-hover table-bordered" id="worst-table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity sold</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="channels">
                <h1>Channels statistics</h1>
                <div id="channel-breakdown"></div>
            </div>

            <div id="agencies">
                <h1>Agency statistics</h1>
                <div id="agency-breakdown"></div>
            </div>

            <div id="customers">
                <h1>Customers statistics</h1>

                <h2>Breakdown by customers' gender: </h2>
                <div id="gender-breakdown"></div>

                <h2>Breakdown by customers' marital status: </h2>
                <div id="marital-status-breakdown"></div>

                <h2>Breakdown by customers' income level: </h2>
                <div id="income-level-breakdown"></div>

                <table class="table table-hover table-bordered" id="income-level-table">
                    <thead>
                        <tr>
                            <th>Income level</th>
                            <th>Sales</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <h2>Most loyal customers: </h2>
                <table class="table table-hover table-bordered" id="most-loyal-table">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Sales</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>

        <script type="text/javascript">
        /* <![CDATA[ */
        $(document).ready(function(){
            var updateGraphs = function updateGraphs(filtersValues){
                var ajaxCompleteCount = 0;
                var removeAnnotation = function removeAnnotation(){
                    if(++ajaxCompleteCount === 4){
                        $('svg').each(function(i, e){
                            $(e).children('text').last().remove();
                        });
                    }
                };
                var displayBreakdown = function displayBreakdown(id, serie, serieName){
                    var container = $('#' + id);
                            new Highcharts.Chart({
                                chart: {
                                    'type': 'pie',
                                    'renderTo': container[0]
                                },
                                title: '',
                                series: [{
                                    name: serieName, 
                                    data: serie,
                                    dataLabels: {
                                        enabled: true,
                                        color: '#000000',
                                        connectorColor: '#000000',
                                        formatter: function() {
                                            return '<b>' + this.point.name +'</b>: ' 
                                                    + Highcharts.numberFormat(this.percentage, 2) +' %';
                                        }
                                    }
                                }]
                            });
                };
                var formatDataForPieSerie = function formatDataForPieSerie(originalSerie){
                    var serie = [];
                    for(var i in originalSerie)
                    {
                        serie.push([i, originalSerie[i]]);
                    }

                    return serie;
                };
                var totalSales = 0;
                // sales statistics
                $.ajax({
                    url: "#{facesContext.externalContext.requestContextPath}/app/rest/sales/filter",
                    type: "get",
                    data: filtersValues,
                    dataType: "json",
                    success: function(series){
                        var serie = formatDataForPieSerie(series.agencyBreakdown);

                        totalSales = series.total;
                        $('#total-sales').text(0 + totalSales);
                        $('#amount').text(0 + series.amount);

                        if(totalSales > 0)
                        {
                            $('#details').show();

                            displayBreakdown('agency-breakdown', serie, 'Amount ($): ');
                            removeAnnotation();

                            // channel statistics
                            $.ajax({
                                url: "#{facesContext.externalContext.requestContextPath}/app/rest/channels/filter",
                                type: "get",
                                data: filtersValues,
                                dataType: "json",
                                success: function(series){
                                    var serie = formatDataForPieSerie(series.breakdown);
                                    displayBreakdown('channel-breakdown', serie, 'Amount ($): ');

                                    removeAnnotation();
                                }
                            });

                            // product statistics
                            $.ajax({
                                url: "#{facesContext.externalContext.requestContextPath}/app/rest/products/filter",
                                type: "get",
                                data: filtersValues,
                                dataType: "json",
                                success: function(series){
                                    var bestSerie = [];
                                    var cells = '';
                                    for(var i in series.bestProducts)
                                    {
                                        bestSerie.push([series.bestProducts[i].name, series.bestProducts[i].quantitySold]);
                                        cells += '<tr><td>' + series.bestProducts[i].name 
                                                + '</td><td>' + series.bestProducts[i].quantitySold 
                                                + '</td></tr>';
                                    }

                                    $('#best-table tbody').html(cells);
                                    displayBreakdown('best-graph', bestSerie, 'Most loyal customers');

                                    cells = '';
                                    for(var i in series.worstProducts)
                                    {
                                        cells += '<tr><td>' + series.worstProducts[i].name 
                                                + '</td><td>' + series.worstProducts[i].quantitySold + '</td></tr>';
                                    }

                                    $('#worst-table tbody').html(cells);

                                    removeAnnotation();
                                }
                            });

                            // customer statistics
                            $.ajax({
                                url: "#{facesContext.externalContext.requestContextPath}/app/rest/customers/filter",
                                type: "get",
                                data: filtersValues,
                                dataType: "json",
                                success: function(series){


                                    // graph generation
                                    var ids = ['gender-breakdown', 'marital-status-breakdown', 'income-level-breakdown'];
                                    for(var i in ids)
                                    {
                                        var serie = formatDataForPieSerie(series[ids[i]]);
                                        displayBreakdown(ids[i], serie, 'Breakdown: ');
                                    }

                                    var cells = '';
                                    for(var i in series.bestCustomers)
                                    {
                                        cells += '<tr><td>' + series.bestCustomers[i].firstName + ' ' + series.bestCustomers[i].lastName 
                                                + '</td><td>' + series.bestCustomers[i].salesAmount + '</td></tr>';
                                    }

                                    $('#most-loyal-table tbody').html(cells);

                                    var cells = '';
                                    for(var i in series['income-level-breakdown'])
                                    {
                                        cells += '<tr><td>' + i + '</td><td>' + series['income-level-breakdown'][i] + '</td></tr>';
                                    }

                                    $('#income-level-table tbody').html(cells);

                                    removeAnnotation();
                                }
                            });
                        }

                    }
                });
            };


            $("#filters").on('change', 'select', function(e){
                var elem = $(e.target);
                var values = elem.val();
                var opts = elem.children("option");

                if((values.length === opts.length -1 && !opts.first().prop("selected")) 
                    || (!values || (values && values.length > 1 && values[0] == ""))
                ) 
                {
                    elem.children("option").prop("selected", false)
                        .first().prop("selected", true);
                    elem.animate({'scrollTop': 0}, 0);

                }
            })
            .on('click', '#apply-filter', function(e){
                $('#details').hide();
                var filtersValues = $(e.delegateTarget).serialize();

                // add a timestamp to prevent AJAX results from being cached
                filtersValues += '&_=' + (new Date().getTime());

                updateGraphs(filtersValues);
            });

            var filterFetched = 0;
            var fetchFilter = function fetchFilter(id, uri){
                $.ajax({
                    url: '#{facesContext.externalContext.requestContextPath}/app/rest/' + uri,
                    type: 'get',
                    dataType: 'json',
                    success: function(list){
                        var opts = '<option class="text-error" selected="selected" value="">all</option>';
                        for(var i=0 in list){
                            opts += '<option class="text-success" value="' + list[i] + '">' + list[i] + '</option>';
                        }

                        $('#' + id).append(opts);

                        if(++filterFetched === 4)
                        {
                            $('#apply-filter').trigger('click');
                        }
                    }
                });
            };

            var filters = {
                'agency-list': 'sales/agencies',
                'gender-list': 'customers/genders',
                'marital-status-list': 'customers/marital-statuses',
                'income-level-list': 'customers/income-levels'
            };

            for(var i in filters) {
                fetchFilter(i, filters[i]);
            }

        });
        /* ]]> */
        </script>
    </ui:define>
</ui:composition>