<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    template="WEB-INF/templates/template.xhtml">
    
    <ui:define name="content">
        <div class="hero-unit">

            <h1>SalesAnalytics</h1>

            <p>You need to be authenticated to access SalesAnalytics.</p>
            <p> Please enter your credentials.</p>

            <h:form class="form-inline">
                <h:inputText id="email" placeholder="Email" value="#{userBean.email}" />
                <h:inputSecret id="password" placeholder="Password" value="#{userBean.password}" />
                
                <h:commandButton action="#{userBean.login()}" 
                                 class="btn btn-primary" 
                                 value="Login" />
                
                <h:messages errorClass="text-error" />
            </h:form>
        </div>
    </ui:define>
</ui:composition>