body {
    background: url('../img/bg.png') repeat;
}

body > .container {
    padding: 50px 15px;
    background: rgba(215, 215, 215, 0.8);
}

#filters > label {
    font-weight: bold;
    line-height: 3em;
    margin: 5px;
}

#details h1 
{
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 4em;
    text-align: center; 
    text-decoration: underline;
}
#details h2 
{
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 2em;
}

.span6 {
    margin: 0;
}

.highcharts-container {
    margin-bottom: 15px;
}
/* cacher les pubs HighCharts */