<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <head>
        <meta charset="UTF-8" />
        <title>Sales Analytics</title>

        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/assets/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/assets/css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/assets/css/style.css" />

        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/assets/js/jquery.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/assets/js/highcharts.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/assets/js/highcharts-more.js"></script>
    </head>


    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                   <a href="#{facesContext.externalContext.requestContextPath}" class="brand">SalesAnalytics</a>
                   <h:form class="navbar-form pull-right">
                       
                       <h:commandButton class="btn btn-danger" 
                                        action="#{userBean.logout()}" 
                                        value="Logout"
                                        rendered="#{userBean.loginBean.someoneLogged}"/>
                       
                   </h:form>
                </div>
            </div>
        </div>
        <div class="container">
            
            <!-- content starts here -->
            <ui:insert name="content" />
            <!-- content ends here -->
            
        </div>
    </body>
</html>